[submodule "lib/N64ModernRuntime"]
	path = lib/N64ModernRuntime
	url = https://github.com/Killklli/N64ModernRuntime
	branch = patch-1
[submodule "lib/rt64"]
	path = lib/rt64
	url = https://github.com/oneup03/rt64-3D.git
	branch = DK64-3D
[submodule "lib/RecompFrontend"]
	path = lib/RecompFrontend
	url = https://github.com/oneup03/RecompFrontend3D.git
	branch = DK64-3D
[submodule "lib/dk64_decomp"]
	path = lib/dk64_decomp
	url = https://gitlab.com/dk64_decomp/dk64
[submodule "lib/vcpkg"]
	path = lib/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "lib/SR-lib"]
	path = lib/SR-lib
	url = https://github.com/bo3b/SR-lib.git
	branch = api_expansion
[submodule "lib/DK64TagAnywhereRecomp"]
	path = lib/mods/DK64TagAnywhereRecomp
	url = https://github.com/Killklli/DK64TagAnywhereRecomp.git
	update = none
[submodule "lib/rt64-3ds"]
	path = lib/rt64-3ds
	url = https://github.com/oneup03/rt64-3ds.git
[submodule "lib/mods/RecompNoCompanyCoins"]
	path = lib/mods/RecompNoCompanyCoins
	url = https://github.com/theballaam96/RecompNoCompanyCoins.git
	update = none
[submodule "lib/mods/RecompAutocompleteBonuses"]
	path = lib/mods/RecompAutocompleteBonuses
	url = https://github.com/theballaam96/RecompAutocompleteBonuses.git
	update = none
[submodule "lib/mods/RecompEasierBeetle"]
	path = lib/mods/RecompEasierBeetle
	url = https://github.com/theballaam96/RecompEasierBeetle.git
	update = none
[submodule "lib/mods/RecompFixedBeaverBother"]
	path = lib/mods/RecompFixedBeaverBother
	url = https://github.com/theballaam96/RecompFixedBeaverBother.git
	update = none
[submodule "lib/mods/RecompSlowShoe"]
	path = lib/mods/RecompSlowShoe
	url = https://github.com/theballaam96/RecompSlowShoe.git
	update = none
[submodule "lib/mods/RecompSlowDKPhase"]
	path = lib/mods/RecompSlowDKPhase
	url = https://github.com/theballaam96/RecompSlowDKPhase.git
	update = none
