[submodule "lib/N64ModernRuntime"]
	path = lib/N64ModernRuntime
	url = https://github.com/Killklli/N64ModernRuntime
	branch = patch-1
[submodule "lib/rt64"]
	path = lib/rt64
	url = https://github.com/oneup03/rt64-3D.git
	branch = DK64-3D
[submodule "lib/RecompFrontend"]
	path = lib/RecompFrontend
	url = https://github.com/oneup03/RecompFrontend3D.git
	branch = DK64-3D
[submodule "lib/dk64_decomp"]
	path = lib/dk64_decomp
	url = https://gitlab.com/dk64_decomp/dk64
[submodule "lib/vcpkg"]
	path = lib/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "lib/SR-lib"]
	path = lib/SR-lib
	url = https://github.com/bo3b/SR-lib.git
	branch = api_expansion
